@import "./mixins";
@import "./variables";

body {
    #root {
        .articles {
            width: 100%;
            padding: 0 $page-spacing;
            .article-inner-container {
                background-color: white;
                width: 100%;
                @include center-row;
                gap: 1.2rem;

                @media screen and (max-width: 1350px) {
                    flex-direction: column;
                }
                article {
                    padding: $page-spacing 0;
                    .article-img {
                        position: relative;
                        max-width: 390px;
                        max-height: 300px;

                        img {
                            max-width: 390px;
                            max-height: 300px;
                        }
                        .img-overlay {
                            width: 390px;
                            height: 275px;
                            background-color: $main-bg-left;
                            z-index: 12;
                            position: absolute;
                            top: 0;
                            left: 0;

                        }
                    }
                    .article-text {
                        padding-top: .5rem;
                    }
                }
            }
            
        }
    }
}