@import "./mixins";
@import "./variables";

body {
    #root {
        .content-section {
            width: 100%;
            @include center-col;
            padding: $page-spacing;

            @media screen and (max-width: 800px) {
                padding: 1.4rem;
                margin-top: -2rem;
            }
    
            @media screen and (max-width: 600px) {
                padding: 0;
                margin-top: 6rem;
            }
    
            .content-article {
                width: 100%;
                background-color: white;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);

                @media screen and (max-width: 500px) {
                    grid-template-rows: 1fr;
                }

                .content-header {
                    grid-area: 1 / 1 / 2 / 4;
                    @include center-hv;
                    padding: 0 $page-spacing;

                    @media screen and (max-width: 600px) {
                        padding: 0rem calc(#{$page-spacing} * 0.3);
                    }

                    h1 {
                        font-size: 2.6rem;
                        color: $main-bg-left;
                        text-align: center;
                        padding: $page-spacing 0;

                        @media screen and (max-width: 600px) {
                            font-size: 2.3rem;
                            text-align: left;
                        }
                    }
                }
                .content-body {
                    grid-area: 2 / 2 / 4 / 4;
                    position: relative;

                    @media screen and (max-width: 600px) {
                        grid-area: 2 / 1 / 4 / 4;
                        padding: 0 0.3rem;
                        font-size: 1.4rem;
                        padding: 0 calc(#{$page-spacing} * 0.5);
                    }
                }
                .content-aside {
                    grid-area: 2 / 1 / 4 / 2;
                    @include center-hv;
                    align-self: baseline;
                    position: relative;
                    img {
                        max-width: 200px;
                        max-height: 200px;
                        margin-top: $page-spacing;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 50%;
                        width: 60%;
                        border-top: 3px solid black;
                        transform: translateX(-50%);
                        border-radius: 4px;
    
                    }
    
                    @media screen and (max-width: 600px) {
                        display: none;
                    }
    
                }
    
            }
        }

        .author {

            .content-aside {
                @media screen and (max-width: 880px) {
                    display: none !important;
                }
            }

            @media screen and (max-width: 880px) {
                grid-template-columns: 1fr !important;
                grid-template-rows: 1fr !important;
                padding: $page-spacing 1rem !important;
            }

            .content-body {
                padding-bottom: $page-spacing;
                @include center-col;
                position: relative;
                padding-top: $page-spacing;


                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 60%;
                    border-top: 3px solid black;
                    transform: translateX(-50%);
                    border-radius: 4px;
                }

                .content-body-header {
                    h1 {
                        font-size: 2.3rem;
                        font-weight: 700;

                        @media screen and (max-width: 600px) {
                            padding: 1.5rem;
                        }

                        @media screen and (max-width: 320px) {
                            font-size: 1.5rem;
                        }
                    }
                }

                .content-body-body {
                    @include center-row;
                    flex-direction: row-reverse;
                    justify-content: space-evenly;
                    width: 100%;
                    gap: 5rem !important;

                    h2 {
                        font-size: 1.4rem;
                        font-weight: 500;

                    }
                    p {
                        width: 60%;

                        @media screen and (max-width: 750px) {
                            width: 100% !important;

                        }
                    }

                    @media screen and (max-width: 600px) {
                        flex-direction: column-reverse;
                        h2 {
                            margin-top: 1.2rem;
                            font-size: 1.9rem;
                        }
                    }

                    @media screen and (max-width: 320px) {
                        h2 {
                            font-size: 1.5rem;
                            font-weight: 900;
                            margin-bottom: 1.5rem;
                            text-align: center;
                            white-space: nowrap;
                        }
                    }
                }
                
                .content-body-img {
                    img {
                        max-width: 200px;
                        max-height: 200px;
                    }
                }

                @media screen and (max-width: 700px) {
                    padding: 0;
                }
            }
        }
    }
}