@import "./mixins";
@import "./variables";

body {
    #root {
        .footer {
            margin-top: $page-spacing;
            background-color: black;
            width: 100%;
            min-height: 60vh;
            padding: $page-spacing;
            @include center-col;
            color: white;

            .scroll {
                width: 100%;
                overflow: hidden;
                // @include center-row;
                display: flex;
                padding: 1.5rem;
                

                div {
                    font-size: 3rem;
                    @include center-row;
                    text-transform: uppercase;
                    font-weight: 900;
                    // gap: calc(100% / 16);
                    gap: 3rem;
                    animation: animate 30s linear infinite;
                    animation-delay: -30s;

                    span:nth-child(5) {
                        margin-right: 3rem;
                    }
                }

                div:nth-child(1) {
                    span:nth-child(odd) {
                        -webkit-text-stroke: 1px #fff;
                        color: black;
                    }
                }

                div:nth-child(2) {
                    animation: animate2 30s linear infinite;
                    animation-delay: -15s;

                    span:nth-child(even) {
                        -webkit-text-stroke: 1px #fff;
                        color: black;
                    }
                }
            }

            @keyframes animate {
                0% {
                    transform: translateX(100%);
                }
                100% {
                    transform: translateX(-100%);
                }
            }
            @keyframes animate2 {
                0% {
                    transform: translateX(0);
                }
                100% {
                    transform: translateX(-200%);
                }
            }
            .footer-list-outer {
                @include center-col;
                width: 100%;
                margin: 5rem 0;
                .footer-list-inner {
                    display: flex;
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    gap: 2rem;
                    ul {
                        list-style: none;
                        @include center-col;
                        align-items: flex-start;
                        padding: 1.5rem;
    
                        h5 {
                            font-size: 1.2rem;
                            margin-bottom: 1rem;
                        }
                    }
                }
            }


            .disclaimer {
                display: grid;
                grid-template-columns: 1fr 2fr;
                grid-template-rows: 1fr;
                div {
                    color: gray;
                }

                aside {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 50%;
                        left: 50%;
                        width: 60%;
                        border-top: 3px solid gray;
                        transform: translateX(-50%);
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}