//partials
@import "./partials/mixins";
@import "./partials/variables";

//fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

//partial elements to keep things organized
@import "./partials/navbar";
@import "./partials/overlay";
@import "./partials/landingPage";
@import "./partials/contentPage";
@import "./partials/articlesPage";
@import "./partials/footerPage";


/*
.
.
.
*** GLOBAL STYLES ***
.
.
.
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    z-index: 5;
    width: 100vw;
    height: 100%;
    font-family: 'Noto Sans', sans-serif;
    position: relative;
    background-color: $main-bg-right;
    @include center-col;
    
    #root {
        width: 100%;
        @include center-col;
    }

}

